<form id="changePassword" action="/support/resetPassword" method="POST" role="form" data-toggle="validator">
    <div class="form-group">

        <label class="control-label" for="newPassword"
               data-toggle="popover"
               data-content="Password length must be between 8-30 characters consisting of letters, numbers, and the following special characters (#,@,!,$,_,-)"
               data-placement="top">
            NEW PASSWORD
        </label>
        <input type="password" class="form-control input-lg" id="newPassword" placeholder="Password"
               pattern="^[a-zA-Z0-9#@!$_-]{8,30}" required>
        <hr>
        <!-- <div class="help-block with-errors">Password length must be between 8-30 characters consisting of letters, numbers, and the following special characters (#,@,!,$,_,-).</div> -->
    </div>
    <div class="form-group">
        <label class="control-label" for="confirmNewPassword"
               data-toggle="popover"
               data-content="Please confirm new password, it must match the password above"
               data-placement="top">CONFIRM NEW PASSWORD</label>
        <input type="password" class="form-control input-lg" id="configNewPassword" placeholder="Confirm Password"
               data-match="#newPassword" data-match-error="Passwords do not match"
               required>
        <hr>
    </div>
    <div>
        <label>Password length must be between 8-30 characters consisting of letters, numbers, and any of the following special characters: # @ ! $ _ -</label>
    </div>
    <br><br>
    <div class="form-group">
        <div align="center">
            <button type="submit" id="submitButton" style="width: 200px; height: 50px;" class="btn btn">SUBMIT</button>
        </div>
    </div>
</form>

<script type="text/javascript">
    //opt-in for tooltips
    $(function () {
        $('[data-toggle="popover"]').popover()
    })

    $('.control-label').on('shown.bs.popover', function () {
        var $pop = $(this);
        setTimeout(function () {
            $pop.popover('hide');
        }, 3000);
    });

    //we need the request token
    var qs = (function(a) {
    	if (a == "") return {};
    	var b = {};
    	for (var i = 0; i < a.length; ++i)
    	{
    	    var p=a[i].split('=');
    	    if (p.length != 2) continue;
    	    b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
    	}
    	return b;
    })(window.location.search.substr(1).split('&'));
    
    $(document).ready(function(){
    	//attach the token and base64 the password on submit
    	$("#changePassword").submit(function(event){ 
            //if we're not valid, don't continue
            if($('#submitButton').hasClass('disabled'))
            {
                return false;
            }

            //make the token appear in the post data
            $("<input />")
            .attr("type", "hidden")
            .attr("name", "token")
            .attr("value", qs["token"])
            .appendTo("#changePassword"); 

            //clean up the pass
            var newPassB64 = btoa($("#newPassword").val());

            $("<input />")
            .attr("type", "hidden")
            .attr("name", "newPasswordFinal")
            .attr("value", newPassB64)
            .appendTo("#changePassword"); 

            return true;
        });
    });
</script>