
*.log
.tmp/
keys/*
coverage/*
util/Product_*.txt
util/Not*.txt
node_modules/*
!node_modules/skipper/
!node_modules/sails-mongo/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries