<div>
    <p><%- from %> has invited you to download Phenom, the mobile app that lets you show off your style and hustle.  You can download the app <a href="http://www.phenomapp.com/download">here</a></p>
    
</div>
